! keymap
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! looks
! URxvt*blurRadius: 10
! URxvt.transparent:   true
URxvt.tintColor:     white
URxvt.shading:       0
URxvt.font: xft:DejaVu Sans Mono:pixelsize=16
URxvt.scrollBar: false


! Onedark
!*.foreground:    #ABB2BF
!*.background:    #1E2127
!*.cursorColor:   #5C6370
!*.highlightColor:#3A3F4B
!*.color0:        #1E2127
!*.color8:        #5C6370
!*.color1:        #E06C75
!*.color9:        #E06C75
!*.color2:        #98C379
!*.color10:       #98C379
!*.color3:        #D19A66
!*.color11:       #D19A66
!*.color4:        #61AFEF
!*.color12:       #61AFEF
!*.color5:        #C678DD
!*.color13:       #C678DD
!*.color6:        #56B6C2
!*.color14:       #56B6C2
!*.color7:        #ABB2BF
!*.color15:       #FFFFFF

! Dracula
!*.foreground: #F8F8F2
!*.background: #282A36
!*.color0:     #000000
!*.color8:     #44475A
!*.color1:     #FF5555
!*.color9:     #FFB86C
!*.color2:     #50FA7B
!*.color10:    #50FA7B
!*.color3:     #E6DB74
!*.color11:    #F1FA8C
!*.color4:     #6272A4
!*.color12:    #6272A4
!*.color5:     #BD93F9
!*.color13:    #FF79C6
!*.color6:     #8BE9FD
!*.color14:    #66D9EF
!*.color7:     #666666
!*.color15:    #FFFFFF

! Mikazuki
*.foreground:   #ffffff
*.background:   #171717
*.cursorColor:  #ffffff
*.color0:       #2a1d17
*.color8:       #4f362b
*.color1:       #da1657
*.color9:       #da4375
*.color2:       #3ea250
*.color10:      #6cb87a
*.color3:       #e3d33d
*.color11:      #e3da84
*.color4:       #3ea290
*.color12:      #8ca8a3
*.color5:       #ff850d
*.color13:      #ffa64f
*.color6:       #8c16da
*.color14:      #a167c7
*.color7:       #e9e9e9
*.color15:      #fdfdfd

